<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ifmo.android.markovnikov.rssreader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".RSSActivity"
            android:label="@string/listActivityTitle" >
        </activity>
        <activity
            android:name=".WebActivity"
            android:label="@string/descriptionTitle" >
        </activity>

        <service
            android:name=".RSSIntentService"
            android:exported="false" >
        </service>

        <provider
            android:name=".RSSContentProvider"
            android:authorities="ru.ifmo.android.markovnikov.rssreader.feeds"
            android:enabled="true">
        </provider>

        <activity
            android:name=".MainActivity"
            android:label="@string/rssTitle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
